/*
* IQON - Fresh Coming Soon Template
* Build Date: June 2016
* Last Update: June 2016
* Author: Madeon08
* Copyright (C) 2016 Madeon08
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/
/*  TABLE OF CONTENTS
    ---------------------------
    *. @Import & Reset
    *. Loading overlay
    1. Generic styles
    2. Home
    3. Right panel
    4. Header
    5. Portfolio
    6. Services
    7. Map
    8. Contact form
    9. Contact Info & Newsletter
   10. Scroll Bar
   11. Scroll Indicator
   12. Photo gallery
   13. Media Queries
*/
/* ------------------------------------- */
/* *. @Import & Reset .................. */
/* ------------------------------------- */
/* http://bourbon.io/ Sass Mixin Library */
/*
* IQON - Fresh Coming Soon Template
* Build Date: May 2016
* Last Update: May 2016
* Author: Madeon08
* Copyright (C) 2016 Madeon08
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/
/*
* IQON - Fresh Coming Soon Template
* Build Date: May 2016
* Last Update: May 2016
* Author: Madeon08
* Copyright (C) 2016 Madeon08
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/
/* custom CSS files */
@import url(font-awesome.min.css);
@import url(ionicons.min.css);
@import url(bootstrap.min.css);
@import url(animate.css);
@import url(photoswipe.css);
@import url(default-skin/default-skin.css);
@import url(jquery.mCustomScrollbar.css);
@import url(vegas.css);
/* Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
/*
* http://meyerweb.com/eric/tools/css/reset/ 
* v2.0 | 20110126
* License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------- */
/* Loading overlay ..................... */
/* ------------------------------------- */
#loading {
  width: 100vw;
  height: 100vh;
  background: #323a45;
  position: fixed;
  z-index: 999;
}
#loading #preloader {
  position: relative;
  width: 100%;
  height: 3rem;
  top: calc(50% - 1.5rem);
  text-align: center;
  margin: 0 auto;
}
#loading #preloader:after {
  content: "Flur";
  /* Text under the circle */
  position: absolute;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0.2rem;
  top: 3.5rem;
  width: 100%;
  left: 0;
  right: 0;
  height: 1px;
  text-align: center;
}
#loading #preloader span {
  position: absolute;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#loading #preloader span:nth-child(1) {
  width: 3rem;
  height: 3rem;
  left: calc(50% - 1.5rem);
  border-bottom: 2px solid #ff3366;
  z-index: 10;
  -webkit-animation: spin-1 1s infinite ease-in-out;
  -moz-animation: spin-1 1s infinite ease-in-out;
  animation: spin-1 1s infinite ease-in-out;
}
#loading #preloader span:nth-child(2) {
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
}

@-webkit-keyframes spin-1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin-1 {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin-1 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ------------------------------------- */
/* 1. Generic styles ................... */
/* ------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  background: #20232D;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 0;
  position: absolute;
  height: 100%;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

body, input, select, textarea {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  color: #ff1a53;
  text-decoration: none !important;
  outline: none !important;
}
a:active, a:focus {
  outline: none !important;
  text-decoration: none !important;
  color: #FFFFFF;
}

button {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
button:hover, button:active, button:focus {
  outline: none !important;
  text-decoration: none !important;
  color: #2B2D35;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.8;
  color: #666666;
  font-weight: 400;
}

p.text-intro {
  color: #000000;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 1.5rem 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: inherit;
}

h1 {
  font-size: 6rem;
}
h1 span {
  font-size: 2.5rem;
  color: #666666;
  font-weight: 500;
}

h2 {
  font-size: 3.3rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

.clear {
  clear: both;
}

.display-none {
  display: none !important;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.opacity-0 {
  opacity: 0 !important;
  visibility: hidden !important;
}

.opacity-03 {
  opacity: 0.3 !important;
}

.opacity-1 {
  opacity: 1 !important;
  visibility: visible !important;
}

.index-999 {
  z-index: -999 !important;
}

/* ------------------------------------- */
/* 2. Home ............................. */
/* ------------------------------------- */
.outer-home {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh !important;
}

#home {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100% !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform-origin: middle left;
}
#home.minimize-left {
  opacity: 0.4 !important;
}
#home .content {
  position: relative;
  z-index: 0;
  left: 0;
  padding: 0;
  top: 50vh;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 111rem;
  padding: 0 10%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(calc(-50% - 50px));
  -moz-transform: translateY(calc(-50% - 50px));
  -ms-transform: translateY(calc(-50% - 50px));
  -o-transform: translateY(calc(-50% - 50px));
  transform: translateY(calc(-50% - 50px));
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  visibility: visible;
}
#home .content #countdown {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}
#home .content .action-btn {
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  background-size: 400% 400%;
  /* background: $radical-red; */
  background-color: #ff3366;
  background-image: -webkit-linear-gradient(-540deg, #ff3366, #FFD800);
  background-image: linear-gradient(270deg,#ff3366, #FFD800);
  -webkit-animation: gradientor 10s ease infinite;
  -moz-animation: gradientor 10s ease infinite;
  animation: gradientor 10s ease infinite;
  font-weight: 700;
  padding: 0;
  color: #FFFFFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  font-size: 5rem;
  text-align: center;
  border: none;
  display: block;
}
#home .content .action-btn:hover {
  color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset, 0 0 0 0.8rem #ff3366;
}
#home .bottom-home {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}
#home .social-icons {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 0;
  margin-bottom: 0;
  display: block;
  z-index: 9;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#home .social-icons i {
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#home .social-icons a {
  color: rgba(0, 0, 0, 0.7);
  width: 5rem;
  line-height: 5rem;
  letter-spacing: 0;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 300;
  height: 5rem;
  display: inline-block;
  text-align: center;
  float: left;
  margin-right: 0;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#home .social-icons a:hover {
  color: #ff3366;
}
#home .social-icons a:hover i {
  color: #ff3366;
}
#home .copyright {
  position: absolute;
  right: 2.5rem;
  bottom: 0;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 50px;
}
#home .copyright a {
  color: #ff3366;
}

@-webkit-keyframes gradientor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradientor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#vegas-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh !important;
  width: 100vw;
  z-index: -1;
}

.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: visible;
  background: rgba(255, 255, 255, 0.4);
  width: 100vw;
  z-index: 0;
}

/* Transparent div used when more info part is opening, allow the user to click on the home to get back on it */
.layer-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 0;
}
.layer-left.hide-layer-left {
  z-index: -1000;
}

/* ------------------------------------- */
/* 3. Right panel ...................... */
/* ------------------------------------- */
#main-content {
  background: #FFFFFF;
  position: relative;
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0;
  right: -40vw;
  width: 60vw;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#main-content.hide-main-content {
  right: -100vw;
}
#main-content .content {
  position: relative;
  width: 100%;
  padding: 10rem 8rem;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  visibility: visible;
}
#main-content .content h1, #main-content .content h2, #main-content .content h3, #main-content .content h4, #main-content .content h5, #main-content .content h6 {
  color: #000000;
}

#close-more-info {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  width: 50px;
  height: 50px;
  line-height: 0;
  background: #323a45;
  border: none;
  color: #FFFFFF;
  font-size: 2em;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  -ms-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#close-more-info i {
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#close-more-info:hover i {
  font-size: 3.5rem;
}
#close-more-info.hide-close {
  right: -50px;
}

/* ------------------------------------- */
/* 4. Header ........................... */
/* ------------------------------------- */
.header-right {
  width: 100%;
  height: 40rem;
}
.header-right:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  background: -webkit-linear-gradient(rgba(50, 58, 69, 0.4), rgba(50, 58, 69, 0.8));
  background: linear-gradient(rgba(50, 58, 69, 0.4), rgba(50, 58, 69, 0.8));
}
.header-right .hero-info {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 10;
}
.header-right .hero-info .brand-logo {
  max-width: 14rem;
  margin-bottom: 1rem;
}
.header-right .hero-info h2 {
  color: #FFFFFF;
}
.header-right .hero-info h2 small {
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}

/* ------------------------------------- */
/* 5. Portfolio ........................ */
/* ------------------------------------- */
#portfolio {
  background: #20232D;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 999;
}
#portfolio .portfolio {
  overflow: hidden;
}
#portfolio .portfolio figure {
  padding: 0 !important;
  overflow: hidden;
  cursor: pointer;
}
#portfolio .portfolio figure:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  z-index: 0;
  opacity: 0;
  background: #323a45;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#portfolio .portfolio figure .gallery-link {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#portfolio .portfolio figure .gallery-link .gallery-img {
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#portfolio .portfolio figure figcaption {
  background: transparent;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  top: 50%;
  opacity: 0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  left: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#portfolio .portfolio figure figcaption .photo-details h4 {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 15px;
}
#portfolio .portfolio figure figcaption .photo-details h4 small {
  display: block;
  text-transform: none;
  margin-top: 0.8rem;
  color: #EFEFEF;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-style: italic;
}
#portfolio .portfolio figure figcaption .photo-details i.icon {
  display: block;
  font-size: 3rem;
  position: absolute;
  left: calc(50% - 0.75rem);
  margin-top: 5rem;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#portfolio .portfolio figure figcaption .photo-details i.icon:hover {
  color: #ff3366;
}
#portfolio .portfolio figure figcaption .photo-details p {
  display: none;
}
#portfolio .portfolio figure:hover:after {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#portfolio .portfolio figure:hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#portfolio .portfolio figure:hover figcaption i.icon {
  margin-top: 0;
}
#portfolio .portfolio figure:hover .gallery-img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
#portfolio .portfolio div {
  padding: 0;
  overflow: hidden;
}

/* ------------------------------------- */
/* 6. Services ......................... */
/* ------------------------------------- */
.services {
  margin-top: 2rem;
}
.services .box-info {
  padding: 0;
  text-align: left;
}
.services .box-info-light {
  padding: 3rem 3rem 0;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.services .box-info-light span.icon {
  color: #ff3366;
  font-size: 6rem;
  line-height: 1.4;
  display: inline-block;
  padding: 2px;
}
.services .box-info-light span.icon.icon-clock {
  -webkit-animation: clocky 2s infinite linear;
  -moz-animation: clocky 2s infinite linear;
  animation: clocky 2s infinite linear;
}
.services .box-info-light h3 {
  font-weight: 500;
}
@-webkit-keyframes clocky {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes clocky {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes clocky {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ------------------------------------- */
/* 7. Map .............................. */
/* ------------------------------------- */
#map {
  height: 50rem;
  width: 100%;
  position: relative;
  z-index: 5;
  top: 0;
  left: 0;
  color: #333333 !important;
}
#map .gm-style-iw {
  top: 10px !important;
}
#map h6 {
  font-weight: 500;
  color: #333333;
  font-size: 1em;
  margin: 1rem 1rem 0.2rem 0;
  text-align: left;
}
#map p {
  font-weight: 400;
  color: #666666;
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
}

/* ------------------------------------- */
/* 8. Contact form ..................... */
/* ------------------------------------- */
#contact-form {
  margin-top: 40px;
}
#contact-form .form-control {
  background: #f7f7f7;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 400;
  outline: medium none;
  padding: 1.6rem 3rem;
  font-size: 1.4rem;
  line-height: 1.4;
  height: auto;
  width: 100%;
  color: #000000;
  margin-bottom: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: left;
}
#contact-form .form-control:hover, #contact-form .form-control:focus {
  box-shadow: none;
  background: #f4f4f4;
}
#contact-form .form-control::-webkit-input-placeholder {
  color: #666666 !important;
}
#contact-form .form-control::-moz-placeholder {
  color: #666666 !important;
}
#contact-form .form-control:-moz-placeholder {
  color: #666666 !important;
}
#contact-form .form-control:-ms-input-placeholder {
  color: #666666 !important;
}
#contact-form textarea.form-control {
  min-height: 150px;
}
#contact-form button#valid-form {
  padding: 1.3rem 2.5rem;
  font-size: 1.4rem;
  display: block;
  margin: 0;
  background: #00c8aa;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-weight: 600;
  width: auto;
}
#contact-form button#valid-form:hover {
  background: #00af94;
  color: #FFFFFF;
}

#block-answer {
  position: absolute;
  margin-top: 1rem;
  text-align: left;
  color: #757A86;
}

.success-message, .error-message {
  color: #757A86;
}
.success-message p, .error-message p {
  color: #757A86 !important;
}
.success-message .ion-checkmark-round, .error-message .ion-checkmark-round {
  color: #27AE60;
}

.error-message .ion-close-round {
  color: #FF1D4D;
}

/* ------------------------------------- */
/* 9. Contact Info & Newsletter ........ */
/* ------------------------------------- */
.bottom-info {
  padding: 10rem 8rem;
  background: #323a45;
}
.bottom-info h3 {
  color: #FFFFFF;
}
.bottom-info p {
  color: #EFEFEF;
}
.bottom-info .phone-mail-link {
  color: #FFFFFF;
  font-weight: bold;
}
.bottom-info .phone-mail-link:hover {
  color: #ff3366;
}

#subscribe p {
  font-weight: 400;
}
#subscribe #notifyMe {
  margin-top: 1rem;
}
#subscribe #notifyMe .form-group {
  margin-bottom: 1em;
  position: relative;
}
#subscribe #notifyMe .form-group .fa {
  color: #757A86;
  position: absolute;
  text-align: center;
  top: 40%;
  left: -2rem;
}
#subscribe #notifyMe .form-group .form-control {
  text-align: left;
  background: #2B2D35;
  border: none;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  box-shadow: none;
  height: 5rem;
  font-weight: 600;
  outline: medium none;
  padding: 0 1em;
  width: 70%;
  float: left;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#subscribe #notifyMe .form-group .form-control:hover, #subscribe #notifyMe .form-group .form-control:focus {
  box-shadow: none;
}
#subscribe #notifyMe .form-group .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
#subscribe #notifyMe .form-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
#subscribe #notifyMe .form-group .form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
#subscribe #notifyMe .form-group .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
#subscribe #notifyMe .form-group button.submit {
  padding: 1.3rem 2.5rem;
  font-size: 1.4rem;
  display: block;
  margin: 0;
  height: 5rem;
  background: #ff3366;
  color: #FFFFFF;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  font-weight: 600;
  width: 30%;
  float: left;
}
#subscribe #notifyMe .form-group button.submit:hover {
  background: #ff1a53;
  color: #FFFFFF;
}
#subscribe .block-message {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 15px;
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#subscribe .block-message .ion-close-round {
  color: #FF1D4D;
}
#subscribe .block-message .ion-checkmark-round {
  color: #00c8aa;
}
#subscribe .block-message.show-block-error {
  opacity: 1;
}
#subscribe .block-message.show-block-valid {
  opacity: 1;
}
#subscribe p.notify-valid {
  color: #c6c9ce;
}

/* ------------------------------------- */
/* 10. Scroll Bar ...................... */
/* ------------------------------------- */
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: #ff3366;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #ff3366;
}

.mCSB_scrollTools {
  /* Scrollbar */
  position: absolute;
  width: 5px;
  left: auto;
  top: 0;
  right: -5px;
  bottom: 0;
  z-index: 10;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 5px;
  height: 100%;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: #2B2D35;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 5px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-align: center;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(255, 51, 102, 0.5);
}

.mCSB_scrollTools-left {
  right: 60vw !important;
}

/* ------------------------------------- */
/* 11. Scroll Indicator ................ */
/* ------------------------------------- */
.to-scroll {
  background: transparent;
  font-size: 1.5em;
  border: none;
  position: fixed;
  bottom: 0;
  right: 60vw;
  z-index: 5;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
.to-scroll.info-close {
  bottom: -50px !important;
}
.to-scroll:hover {
  color: #FFFFFF;
}
.to-scroll.hide-scroll {
  bottom: -50px !important;
}
.to-scroll .scroll-down {
  display: inline-block;
  content: "";
  -webkit-animation: scroll 1.3s ease-out infinite forwards;
  -moz-animation: scroll 1.3s ease-out infinite forwards;
  animation: scroll 1.3s ease-out infinite forwards;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes scroll {
  0% {
    -moz-transform: translateY(0px);
  }
  50% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0px);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
/* ------------------------------------- */
/* 12. Photo gallery ................... */
/* ------------------------------------- */
.pswp__bg {
  background: #323a45;
}

.pswp__caption h4 {
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  margin-bottom: 10px !important;
}
.pswp__caption h4 small {
  display: block;
  font-size: 1.4rem;
  margin-top: 0.4rem;
}
.pswp__caption i.icon {
  display: none;
}
.pswp__caption p {
  color: #EFEFEF;
  font-weight: 300;
}

/* ------------------------------------- */
/* 13. Media Queries ................... */
/* ------------------------------------- */
/* Large Devices, Wide Screens @media only screen and (max-width: 1600px) */
@media only screen and (max-width: 1600px) {
  #main-content {
    right: -30vw;
    width: 70vw;
  }

  #subscribe #notifyMe .form-group button.submit {
    padding: 1.3rem;
  }

  .mCSB_scrollTools-left {
    right: 70vw !important;
  }
}
/* Notebook devices @media only screen and (max-width: 1199px) */
@media only screen and (max-width: 1199px) {
  .newsletter-part {
    margin-top: 4rem;
  }
}
/* Medium Devices, Desktops @media only screen and (max-width: 1024px) */
@media only screen and (max-width: 1024px) {
  #main-content {
    right: 0;
    width: 100vw;
  }

  .mCSB_scrollTools-left {
    right: 0 !important;
  }

  #portfolio .portfolio figure:after {
    display: none;
  }
  #portfolio .portfolio figure .gallery-link {
    float: none;
  }
  #portfolio .portfolio figure figcaption {
    background: rgba(32, 35, 45, 0.7);
    position: absolute;
    top: auto;
    bottom: 0;
    opacity: 1;
  }
  #portfolio .portfolio figure figcaption .photo-details {
    padding: 1.5rem 0 1rem;
    text-align: left;
  }
  #portfolio .portfolio figure figcaption .photo-details h4 {
    margin-bottom: 0.5rem;
    max-width: 90%;
  }
  #portfolio .portfolio figure figcaption .photo-details i.icon {
    position: absolute;
    left: auto;
    right: 15px;
    top: 50%;
    margin: 0;
    line-height: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  #portfolio .portfolio figure figcaption .photo-details i.icon:hover {
    color: #ff3366;
  }
  #portfolio .portfolio figure figcaption .photo-details p {
    display: none;
  }
  #portfolio .portfolio figure:hover:after {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  #portfolio .portfolio figure:hover figcaption {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  #portfolio .portfolio figure:hover figcaption i.icon {
    margin-top: 0;
  }
  #portfolio .portfolio figure:hover .gallery-img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
/* Small Devices, Tablets @media only screen and (max-width: 768px) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  p.text-intro {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .to-scroll {
    display: none;
  }
}
/* Extra Small Devices, Phones @media only screen and (max-width: 480px) */
@media only screen and (max-width: 480px) {
  #home .content {
    padding: 0 2%;
    -webkit-transform: translateY(calc(-50% - 15px));
    -moz-transform: translateY(calc(-50% - 15px));
    -ms-transform: translateY(calc(-50% - 15px));
    -o-transform: translateY(calc(-50% - 15px));
    transform: translateY(calc(-50% - 15px));
  }
  #home #countdown {
    font-size: 3rem;
  }
  #home .social-icons {
    width: 100%;
  }
  #home .copyright {
    display: none;
  }

  #main-content .content {
    padding: 5rem 3rem;
  }

  .newsletter-part {
    margin-bottom: 3rem;
  }

  #subscribe #notifyMe .form-group .form-control {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    float: none;
    width: 100%;
  }

  #subscribe #notifyMe .form-group button.submit {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    float: none;
    width: 100%;
    margin-top: 1rem;
  }

  .header-right .hero-info .brand-logo {
    max-width: 10rem;
  }

  h1 {
    font-size: 3.5rem;
  }
  h1 span {
    font-size: 2rem;
  }

  p.text-intro {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .bottom-info {
    padding: 5rem 3rem;
    margin-top: 4rem;
  }
}
/* Only for tablet in landscape mode @media only screen and (max-device-width: 1024px) and (orientation: landscape) */
/* Only for phone in landscape mode @media screen and (max-device-width: 667px) and (orientation: landscape) */
@media screen and (max-device-width: 667px) and (orientation: landscape) {
  #home .content {
    -webkit-transform: translateY(calc(-50% - 25px));
    -moz-transform: translateY(calc(-50% - 25px));
    -ms-transform: translateY(calc(-50% - 25px));
    -o-transform: translateY(calc(-50% - 25px));
    transform: translateY(calc(-50% - 25px));
  }
  #home .content .action-btn {
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
  }

  h1.text-intro {
    font-size: 3.5rem;
  }

  p.text-intro {
    font-size: 1.5rem;
  }
}
